[worldserver]

#
#   Buff.Enable
#       Description: Enable or disable the module.
#       Default: 1 (Enable)
#       Value:
#           1 (Enable)
#           0 (Disable)
#

Buff.Enable = 1

#
#   Buff.Announce
#       Description: Announce the module when the player logs in?
#       Default: 1 (Enable)
#       Value:
#           1 (Enable)
#           0 (Disable)
#

Buff.Announce = 1

#
#   Buff.CureRes
#       Description: Remove Resurrection Sickness? ID: 15007
#       Default: 1 (Enable)
#       Value:
#           1 (Enable)
#           0 (Disable)
#

Buff.CureRes = 1

#
#   Buff.ByLevel
#       Description: Limit buffs by level
#       Default: 1 (Enable)
#       Value:
#           1 (Enable)
#           0 (Disable)
#

Buff.ByLevel = 1

#
#   Buff.MaxLevel
#       Description: The highest character level at which buffs are scaled.
#                    Characters at this level or higher receive the maximum
#                    strength of buffs.
#

Buff.MaxLevel = 80

#
#   Buff.Spells
#       Description: Buff Defaults (Leave blank to disable a buff)
#
#       1. Prayer of Fortitude (48162)坚韧祷告
#       2. Greater Blessing of Kings (43223)王者祝福
#       3. Mark of the Wild (48469)荒野印记（48470大爪子）
#       4. Prayer of Spirit (48074)精神祷告
#       5. Prayer of Shadow Protection (48170)暗影防护祷言
#       6. Arcane Intellect (42995)60点智力奥术智慧36880100点
#       7. Thorns (53307)荆棘术
#
#       Fun Stuff
#       48612 (Dalron the Controller)（57623寒冬号角）（61316达拉然光辉）
#

Buff.Spells = "48162;43223;48469;48074;48170;42995;53307;"

#
#   Buff.MessageTimer
#       Description: How often does the NPC emote in milliseconds?
#                    Randomly caclulated within range 60000 (1 min, minumum) to 3000000 (5 minutes, max)
#       Default: 60000 (1 minutes, minimum)
#       Disable: 0
#

Buff.MessageTimer = 60000

#
#   Buff.NumPhrases
#       Description: How many pharases does the NPC have?
#       Default: 4
#       Disable: 0
#

Buff.NumPhrases = 4

#
#   NPC Phrases - Add your own!
#   Spoken randomly to the world
#

BF.P1 = "来吧，接受我的增益，品尝我的力量，精灵女性们无法抗拒！"
BF.P2 = "她从未摇落星辰，也未掀起漩涡宇宙，但她热爱优秀的牛头人，骑着优秀的科多兽。"
BF.P3 = "格鲁布斯先生是周围最坚韧的虫子。毫无疑问。"
BF.P4 = "那些巨魔真的知道如何跳舞！我听说他们喜欢在黑海岸的山上聚会。"
#
#   Buff.NumWhispers
#       Description: How many whispers does the NPC have?
#       Default: 10
#       Disable: 0
#

Buff.NumWhispers = 10

#
#   NPC Whisper Phrases - Add your own!
#   Whispered to the player after interaction
#   Use '%s%' to include the player's name
#

BF.W1 = "科伊特的灵魂守望着贫瘠之地。你去过那座神龛了吗 %s?"
BF.W2 = "国王的骨头依然在那里。永恒地躺在尘埃之中。那里还有武器..如果你知道在哪里找的话，%s."
BF.W3 = "哦 %s, 我多么怀念那些在荒原上度过的日子..看着太阳从纳格兰的上空落下。"
BF.W4 = "啊，好久不见 %s, 老朋友，战场上的情况如何？"
BF.W5 = "你会在艾萨拉北部荒野的一座桥上找到雕像 %s. 它已经残破，由娜迦守护着。"
BF.W6 = "碾碎你的敌人，看着他们在 %s 面前被击溃, 听着他们的女人的哀叹声！"
BF.W7 = "是的.. %s. 传闻在黑石深渊的牢笼里有两名奴隶。也许他们可以告诉你更多。"
BF.W8 = "确实.. %s. 关于他们王国深处的秘密，矮人们守口如瓶。"
BF.W9 = "这里加一点，那里加一点……啊……好了 %s."
BF.W10 = "不 %s, 我从未听说他们找到了那些在纳格兰和赞加沼泽失踪的孩子。"


#
#   Buff.EmoteSpell
#       Description: The spell cast to get the player's attention
#       Default: 44940
#       Disable: 0
#

Buff.EmoteSpell = 0

#
#   Buff.EmoteCommand
#       Description: The gesture the NPC performs when speaking emote text
#       Default: 3 (Wave)
#       Disable: 0
#
#       0  - NONE
#       1  - TALK
#       2  - BOW
#       3  - WAVE
#       4  - CHEER
#       5  - EXCLAMATION
#       6  - QUESTION
#       7  - EAT
#       11 - LAUGH
#       14 - RUDE
#       15 - ROAR
#       16 - KNEEL
#       17 - KISS
#       18 - CRY
#       19 - CHICKEN
#       20 - BEG
#       21 - APPLAUD
#       22 - SHOUT
#       23 - FLEX
#       24 - SHY
#       25 - POINT
#

Buff.EmoteCommand = 3
